<p id="notice"><%= notice %></p>

<h1>Your Pictures</h1>

<% @pictures.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |picture| %>
      <div class="col-md-4">
        <%= image_tag picture.picture_url, width: '300px' if picture.picture.present?%>
        <h4><%= link_to picture.name, picture %></h4>
        <%= picture.description %>
      </div>
    <% end %>
  </div>
<% end %>